In [5]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")


#Task1
#Loading the data
def read_data_from_csv():
    df = pd.read_csv('dataset_olympics.csv')
    #df = pd.read_csv('noc_region.csv')
    return df


#Task 2: Renaming the Columns
def data_cleaning():
    # Read data from a CSV file
    df = read_data_from_csv()
    
    # Drop the specified columns from the dataframe
    columns_to_drop = ['Height', 'Weight']
    df = df.drop(columns=columns_to_drop)
    
# replace NOC with noc_region
def data_renaming():
    df = data_cleaning()
    #print(data)
    
    df.rename(columns={'NOC':'noc_region','reg':'region'},inplace = True)
    #print()
    

#this one is working 
def remove_duplicates_from_csv():
    df = data_cleaning()

    # Remove duplicates from the DataFrame
    df=df.drop_duplicates 
    
def replace_medel():
    df = data_cleaning()
    df['Medal'].fillna('Medal-less', inplace=True)   
    

#Replace missing values in the 'Age' column with the median age('24') from the dataset
def replace_age():
    df = data_cleaning()
    df['Age'].fillna('24', inplace=True)   
    

    
    # Save the cleaned DataFrame back to a new CSV file
def savedata():
    df = data_cleaning()
    df.to_csv('olympics_history_noc_regions_cleaned.csv',index=False)
    
print(pd.read_csv('olympics_history_noc_regions_cleaned.csv'))


    # Return the cleaned dataset

     NOC       region
0    AFG  Afghanistan
1    AHO      Curacao
2    ALB      Albania
3    ALG      Algeria
4    AND      Andorra
..   ...          ...
225  YEM        Yemen
226  YMD        Yemen
227  YUG       Serbia
228  ZAM       Zambia
229  ZIM     Zimbabwe

[230 rows x 2 columns]

In [6]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")


#Task1
#Loading the data
def read_data_from_csv():
    df = pd.read_csv('dataset_olympics.csv')
    #df = pd.read_csv('noc_region.csv')
    return df


#Task 2: Renaming the Columns
def data_cleaning():
    # Read data from a CSV file
    df = read_data_from_csv()
    
    
    # Drop the specified columns from the dataframe
    df.drop(columns=['Height', 'Weight'], axis=1, inplace = True)
    

    # replace NOC with noc_region
    #df.rename(columns={'NOC':'noc_region'}, inplace = True)
    df.rename(columns={'NOC':'noc_region','reg':'region'},inplace = True)

    # Remove duplicates from the DataFrame
    df.drop_duplicates(keep = 'first', inplace =True)
    
    df['Medal'].fillna('Medal-less', inplace=True)   
   

    #Replace missing values in the 'Age' column with the median age('24') from the dataset
    df['Age'].fillna('24', inplace=True)   

    # Save the cleaned DataFrame back to a new CSV file
    df.to_csv('olympics_history_cleaned.csv', index=False)
    return df
    result = data_cleaning()

    #df.to_csv('new_file.csv', index=False)

In [7]:
result = data_cleaning()

In [8]:
print(result)

          ID                                Name Sex   Age           Team  \
0       1724              Aristidis Akratopoulos   M    24         Greece
1       1724              Aristidis Akratopoulos   M    24       Greece-3
2       1725  Konstantinos "Kostas" Akratopoulos   M    24         Greece
3       1725  Konstantinos "Kostas" Akratopoulos   M    24       Greece-3
4       4113                  Anastasios Andreou   M    24         Greece
...      ...                                 ...  ..   ...            ...
69995  35577             Heather Margaret Fisher   F  32.0  Great Britain
69996  35586                         Ryan Fisher   M  25.0      Australia
69997  35592       Lilia Fisikovici (Tozlovanu-)   F  27.0        Moldova
69998  35651       Theresa Matauaina Fitzpatrick   F  21.0    New Zealand
69999  35655                   Riley Fitzsimmons   M  20.0      Australia

      noc_region        Games  Year  Season            City         Sport  \
0            GRE  1896 Summer  1896  Summer          Athina        Tennis
1            GRE  1896 Summer  1896  Summer          Athina        Tennis
2            GRE  1896 Summer  1896  Summer          Athina        Tennis
3            GRE  1896 Summer  1896  Summer          Athina        Tennis
4            GRE  1896 Summer  1896  Summer          Athina     Athletics
...          ...          ...   ...     ...             ...           ...
69995        GBR  2016 Summer  2016  Summer  Rio de Janeiro  Rugby Sevens
69996        AUS  2016 Summer  2016  Summer  Rio de Janeiro     Triathlon
69997        MDA  2016 Summer  2016  Summer  Rio de Janeiro     Athletics
69998        NZL  2016 Summer  2016  Summer  Rio de Janeiro  Rugby Sevens
69999        AUS  2016 Summer  2016  Summer  Rio de Janeiro      Canoeing

                                          Event       Medal
0                          Tennis Men's Singles  Medal-less
1                          Tennis Men's Doubles  Medal-less
2                          Tennis Men's Singles  Medal-less
3                          Tennis Men's Doubles  Medal-less
4            Athletics Men's 110 metres Hurdles  Medal-less
...                                         ...         ...
69995         Rugby Sevens Women's Rugby Sevens  Medal-less
69996          Triathlon Men's Olympic Distance  Medal-less
69997                Athletics Women's Marathon  Medal-less
69998         Rugby Sevens Women's Rugby Sevens      Silver
69999  Canoeing Men's Kayak Fours, 1,000 metres  Medal-less

[69617 rows x 13 columns]

In [ ]:
if df is not None and not df.empty:
    df.to_csv('olympics_history_noc_regions_cleaned.csv', index=False)
else:
    print("DataFrame is empty or None. Cannot save to CSV.")

 """The data_cleaning() function reads data from a 'dataset_olympics'.csv file and 
    #performs cleaning operations on the dataset. It creates a copy of the data and 
    #drops specific columns, such as 'Height' and 'Weight'. Duplicate rows are also removed. 
    #Additionally, missing values in the 'Medal' column are replaced with 'Medal-less', and 
    missing values in the 'Age' column are filled with the median age('24') from the dataset. Finally, 
    the cleaned dataset is saved to a new CSV file named 'olympics_history_cleaned.csv'.
"""

In [15]:
def read_data_from_csv():
    df = pd.read_csv('noc_region.csv')
    return df

In [16]:
read_data_from_csv()

    noc_region          reg                 notes
0          AFG  Afghanistan                   NaN
1          AHO      Curacao  Netherlands Antilles
2          ALB      Albania                   NaN
3          ALG      Algeria                   NaN
4          AND      Andorra                   NaN
..         ...          ...                   ...
225        YEM        Yemen                   NaN
226        YMD        Yemen           South Yemen
227        YUG       Serbia            Yugoslavia
228        ZAM       Zambia                   NaN
229        ZIM     Zimbabwe                   NaN

[230 rows x 3 columns]

In [17]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#Task1
#Loading the data
def read_data_from_csv():
    df = pd.read_csv('dataset_olympics.csv')
    #df = pd.read_csv('noc_region.csv')
    return df


#Task 2: Renaming the Columns
def data_cleaning():
    # Read data from a CSV file
    df = read_data_from_csv()
    
    # Drop the specified columns from the dataframe
    columns_to_drop = ['Height', 'Weight']
    df = df.drop(columns=columns_to_drop)
    #df = df.drop([],axis=1, inplace=True)
    return df

# replace NOC with noc_region
def data_renaming():
    df = data_cleaning()
    #print(data)
    
    df.rename(columns={'NOC':'noc_region','reg':'region'},inplace = True)
    #print(data)
    return df

#this one is working 
def remove_duplicates_from_csv():
    df = data_cleaning()

    # Remove duplicates from the DataFrame
    df=df.drop_duplicates()
    #return df 
    
def replace_medel():
    df = data_cleaning()
    df['Medal'].fillna('Medal-less', inplace=True)   
    #return df 

#Replace missing values in the 'Age' column with the median age('24') from the dataset
def replace_age():
    df = data_cleaning()
    df['Age'].fillna('24', inplace=True)   
    
    # Save the cleaned DataFrame back to a new CSV file
    
    df.to_csv('olympics_history_noc_regions_cleaned.csv', index=False)
    return df
    #print(pd.read_csv('olympics_history_noc_regions_cleaned.csv'))


#     # Return the cleaned dataset
#     #Do not Delete the Following function